.bot-invite-container {
    margin: 20px;
    text-align: center;
    border: 2px solid gold;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 11px;
}

.invite-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 200px;
}

.bot-invites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bot-invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.bot-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.bot-image:hover {
    transform: scale(1.1);
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.bot-invite p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

@media (max-width: 1200px) {
    .bot-invite-container {
        border-radius: 11px;
        display: flex;
        margin: 20px;
        text-align: center;
    }

    .invite-text {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .bot-invites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .bot-invite-container {
        border-radius: 11px;
        display: flex;
        margin: 20px;
        text-align: center;
    }

    .invite-text {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .bot-invites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}
