.bot-invite-container {
  text-align: center;
  margin: 20px;
}

.invite-text {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.bot-invites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bot-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.bot-image {
  width: 150px;
  /* Adjust the size as needed */
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.bot-image:hover {
  transform: scale(1.1);
}

.bot-invite p {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

@media (max-width: 600px) {
  .bot-invites {
    flex-direction: column;
  }
}
