:root {
  --button-background-light: goldenrod;
  --button-background-dark: goldenrod;
  --button-text-color-light: #000000;
  --button-text-color-dark: #ffffff;
  --border-color-light: goldenrod;
  --border-color-dark: goldenrod;
}

.nft-card {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--border-color-light);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  box-sizing: border-box;
  /* Ensure text color is set for light mode */
}



.nft-card img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin-right: 16px;
}

.nft-card-content {
  font-family: "Orbitron", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.dark-mode h1 {
  color: var(--text-color-dark);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark-mode .nft-card {
  color: var(--text-color-dark);
  background-color: #000000;
}

.nft-card h2 {
  margin-top: 0;
  font-size: 1.2em; /* Ensure h2 color is set for light mode */
}

.nft-card p {
  margin: 8px 0;/* Ensure p color is set for light mode */
}

.nft-card button {
  margin-top: 8px;
  padding: 10px 20px;
  background-color: var(--button-background-light);
  border: 2px solid var(--border-color-light);
  border-radius: 5px;
  color: var(--button-text-color-light);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nft-card button:hover {
  background-color: #ffd700;
}

.nft-card-details {
  width: 100%;
  text-align: left;
  margin-top: 16px;
  display: none; /* Hide details by default */
}

.nft-card-details.expanded {
  display: block; /* Show details when expanded */
  color: var(--text-color-light); /* Ensure details text color is set for light mode */
}

.nft-card a {
  color: blue;
  text-decoration: none;
}

.nft-card a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .nft-card {
    border-color: var(--border-color-dark);
    background-color: var(--background-color-dark);
  }

 

  .nft-card button {
    background-color: var(--button-background-dark);
    color: var(--button-text-color-dark);
    border-color: var(--border-color-dark);
  }

  .nft-card button:hover {
    background-color: #e6c200;
  }

}

@media (max-width: 600px) {
  .card {
    max-width: 85%;
    width: 100%;
  }

  .nft-card {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .nft-card img {
    max-width: 80%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .nft-card-content {
    align-items: center;
  }

  .nft-card h2 {
    font-size: 1em;
  }

  .nft-card p {
    font-size: 0.9em;
  }

  .nft-card button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
