.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .profile-icon {
    margin-left: 45px ;
    font-size: 24px;
    cursor: pointer;
    color: goldenrod;
    padding: 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    /* top: 100%; */
    /* right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    white-space: nowrap; /* Prevent the text from wrapping */
  }
  
  .dropdown-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    /* color: black; */
  }

  .dropdown-item-logout {
    background-color: goldenrod;
    /* color: black; */
    /* border: 2px solid gold; */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  
  