.main-container {
  padding: 20px;
  text-align: center;
}

.button-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ttitle {
  display: flex;
  justify-content: center;
}

.search-container, .balance-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container input, .balance-container input {
  padding: 10px;
  font-size: 16px;
}

.search-container button, .balance-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dune-list, .wallet-dunes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dune-card, .wallet-dune-card {
  border: 2px solid green;
  padding: 20px;
  border-radius: 11px;
  text-align: center;
}

.dune-card a, .wallet-dune-card a {
  text-decoration: none;
  color: inherit;
}

.dune-card h2, .wallet-dune-card h2 {
  font-size: 18px;
}

.wallet-dune-card p {
  font-size: 16px;
}

.error {
  color: red;
}

.dune-list, .drc20-list, .nft-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 700px;
  margin-right: 100px;
}

.dune-card, .drc20-card, .nftCard {
  border: 2px solid goldenrod;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  flex-direction: row;
}

.dune-card img, .drc20-card img, .nftCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.dune-card a, .drc20-card a, .nftCard a {
  text-decoration: none;
  color: inherit;
}

.dune-card h2, .drc20-card h2, .nftCard h2 {
  font-size: 16px;
  margin: 10px 0;
}

.drci {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .nftCard {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 1200px) {
  .nftCard {
    flex-direction: column;
    align-items: center;
  }
}
