/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: black;
  margin: 0;
  padding: 0;
}

.settings-page {
  padding: 20px;
}

.dark-mode-toggle {
  margin-top: 20px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #131111;
  color: white;
}

body.dark-mode h1 {
  color: white;
}

/* Ensure h2 inside .nft-card is also white in dark mode */
body.dark-mode .nft-card {
  background-color: #333;
  color: white;
}



/* Dark Mode for dropdown menu */
body.dark-mode .dropdown-menu {
  /* background-color: #444; */
  border-color: #555;
}

/* Dark Mode for dropdown items */
body.dark-mode .dropdown-item {
  color: white;
}

body.dark-mode .dropdown-item:hover {
  background-color: #555;
}

h1 {
  color: black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 20px; */
}

div > div {
  width: 100%;
  max-width: 500px;
}

.header {
  /* background-color: #333; */
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5em;
  padding: 5px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link, .nav-button {
  color: black;
  /* text-decoration: black; */
  background: none;
  border: none;
  cursor: pointer;
}

body.dark-mode .nav-link, .nav-button {
  color: white;
}

.nav-link:hover, .nav-button:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: goldenrod;
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-button:hover {
  background-color: #272424;
}


