:root {
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --background-color-light: #ffffff;
  --background-color-dark: #131111;
  --card-background-color-light: #f0f0f0;
  --card-background-color-dark: #333333;
  --nav-button-background-color-light: goldenrod;
  --nav-button-background-color-dark: #272424;
  --nav-link-color-light: black;
  --nav-link-color-dark: white;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
}

.settings-page {
  padding: 20px;
}

.dark-mode-toggle {
  margin-top: 20px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

h1 {
  color: var(--text-color-light);
  font-size: 1.5em;
  padding: 5px;
  text-decoration: underline solid goldenrod;
}

body.dark-mode h1 {
  color: var(--text-color-dark);
}

/* Ensure h2 inside .nft-card is also white in dark mode */
.nft-card {
  background-color: var(--card-background-color-light);
  color: var(--text-color-light);
}

body.dark-mode .nft-card {
  background-color: var(--card-background-color-dark);
  color: var(--text-color-dark);
}

/* Dark Mode for dropdown menu */
.dropdown-menu {
  background-color: rgba(24, 23, 23, 0.445);
  background-color: rgba(24, 23, 23, 0.671);
  width: fit-content;
  border-radius: 10px;
}

body.dark-mode .dropdown-menu {
  border-color: var(--text-color-light);
}

/* Dark Mode for dropdown items */
.dropdown-item {
  color: var(--text-color-light);
}

body.dark-mode .dropdown-item {
  color: var(--text-c);
  
}

.dropdown-item:hover {
  /* background-color: #555; */
  color: #f0f0f0;
}

body.dark-mode .dropdown-item:hover {
  background-color: #666;
}

div {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > div {
  width: 100%;
  max-width: 950px;
}

.header {
  color: var(--text-color-light);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.dark-mode .header {
  color: var(--text-color-dark);
}

.title {
  font-size: 1.5em;
  padding: 5px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link, .nav-button {
  color: var(--nav-link-color-light);
  background: none;
  border: none;
  cursor: pointer;
}

body.dark-mode .nav-link, .nav-button {
  color: var(--nav-link-color-dark);
}

.nav-link:hover, .nav-button:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: var(--nav-button-background-color-light);
  padding: 5px 10px;
  border-radius: 3px;
}

body.dark-mode .nav-button {
  background-color: var(--nav-button-background-color-dark);
}

.nav-button:hover {
  background-color: var(--nav-button-background-color-dark);
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 280px;
  }
}
